[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
psycopg2-binary = "*"
py3-validate-email = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9.1"
