<!DOCTYPE html>

{% extends "layout.html" %}

{% block title %} Home | InJapan{% endblock %}
{% block content %}
{% for blogs in blog_list %}
<div style="padding-top: 15px;">
    <div class="d-flex flex-column bd-highlight mb-3 home-center">
        <div style="display: flex; justify-content: center; align-items: center;">
            <a href="{{ url_for('blog.blog_post', slug=blogs.slug) }}">
                <img src="{{ url_for('blog.static', filename=blogs.image) }}" class="home-img" alt="Recent Blog Post">
            </a>
        </div>
        <h2 style="padding-top: 15px;">{{ blogs.title}}</h2>
        <div>
            {{ blogs.subtitle | safe }}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}