html {
  font-family: sans-serif;
}


/*
 Layout.html Page Styling components
*/


.layout-page {
  display:flex
}

.one-column {
  width: 80%;
}

.sidebar-column {
  width: 20%;
  padding-bottom: 60px;
  padding-left: 50px;
}

.content-box {
  border-radius: 3px;
  box-shadow: 0 0 1px 0 black;
  max-height: 500px;
  width: 70%;
  margin: auto;
  background-color: lightgray;
}

.sidebar {
  display: inline;
  float: left;
}



.sidebar-element {
  padding-top: 25px;
  border-radius: .5px;
}

@media (max-width: 768px) {
  .sidebar-element {
    display: inline-block;

  }
}

@media (max-width: 768px) {
  .sidebar-center {
    text-align: center;

  }
}

.sidebar-img {
  max-height: 125px;
  max-width: 175px;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 black;
}

@media (max-width: 768px) {
  .sidebar-img {
    max-height: 150px;
    max-width: 200px;
  }
}

.footer {
  position: relative;
  bottom: 0;
}

.bottom-navbar {
  color: black;
}

/*
 home.html styling components
*/

.home-center {
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.home-center-bottom {
  justify-content: center;
  align-items: center;
}


@media (min-width: 991.98px) {
  .home-img {
    max-height: 350px;
    max-width: 560px;
  }
}

.home-paragraph {
  padding-top: 15px;
  padding-bottom: 15px;
  word-wrap: break-word;
}

/*
 web_resources.html styling components
*/

.web-res {
  border-radius: 2px;
  box-shadow: 0 0 1px 0 lightgray;
}

.web-res-list {
  padding-top: 10px;
  border-bottom: groove;
  border-bottom-color: lightgray;
  border-bottom-width: 2px;
}

.web-res-txt {
  padding-left: 15px;
}

/*
 Blog.html styling components
*/

.blog-img {
  height: 200px;
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 black;
}

.in-blogging-img {
  max-height: 315px;
  max-width: 560px;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 black;
}

/*
 General Styling Components for blog posts
*/

.blogging-center-layout {
  display: block;
  justify-content: center;
  align-items: center;
}

.blogging-img {
  padding-top: 10px;
}

.blogging-heading {
  padding-top: 5px;
  padding-bottom: 5px;
}

.blogging-paragraph {
  font-size: 14;
  line-height: 1.5;
}