<!DOCTYPE html>
<html>

<body>
  {% extends "layout.html" %}
  {% block content %}
  <div class="d-flex flex-column bd-highlight mb-3 web-res">
    <div class="media">
      <div class="media-left media-middle">
        <a href="{{ url_for('blog.first_blog') }}">
          <img class="media-object blog-img" src="{{ url_for('blog.static', filename='sakura_japan.jpg')}}"
            alt="Japan Picture">
        </a>
      </div>
      <div class="media-body web-res-txt">
        <h4 class="media-heading">First Blog Post</h4>
        <p>
          The First Blog Post! It is a simple article that goes a little in-depth about what you can expect from this
          blog website. At the same time, I will go in detail about who I am, what I currently do, and my future plans
          for this site.
        </p>
      </div>
    </div>
  </div>
  {% endblock %}
</body>

</html>