<!DOCTYPE html>



{% extends "layout.html" %}

{% block title %} Blog | InJapan{% endblock %}

{% block content %}
{% for blogs in blog_list %}
<div class="list-group mb-3 ml-auto pt-2 col-xs-12 col-sm-12 col-md-9 col-lg-10">
  <a href="{{ url_for('blog.blog_post', slug=blogs.slug) }}" class="list-group-item list-group-item-action m-1 ">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">{{ blogs.title }}</h4>

      <small>{{ blogs.date.strftime('%B %d, %Y')}}</small>
    </div>
    <div class="text-center">
      <img style="max-width: 250px; max-height: 250px;" class="media-object img-fluid web-res justify-content-center"
        src="{{ url_for('blog.static', filename=blogs.image)}}" alt="Blog Photo">
    </div>

    <p class="mb-1">{{ blogs.subtitle | safe }}</p>
  </a>
</div>
{% endfor %}
{% endblock %}