<!DOCTYPE html>
<html>
<!--
    A page that shows the use of different Heading scalloping
-->
<body>
    {% extends "layout.html" %}
    {% block content %}
    <h1>About Me</h1>
    <div class="about">
        <h2>My Story?</h2>
        <p>
            Well, you are probably wondering what my story is... The truth is I am just
            an ordinary person that grew to love Japan because of martial arts, anime, and manga.
            Yeah, it's that simple, but I'll dive into details about a few things.
        </p>
        <h4>When did I move to Japan?</h4>
        <p>
            When I decided to join the Air Force, I finally got the opportunity to visit Japan in June 2018.
            I was super shocked when I got notice about moving to Okinawa, Japan, but if I told you that I was
            only excited, I would definitely by understating my emotions at the time. I was estatic about being able
            to visit and actually live in a place I dreamed of visiting! I still live in Okinawa, Japan today, but I
            have
            visited and experienced many parts of Japan since my arrival!
        </p>
        <h4>What is this Blog about?</h4>
        <p>
            This blog gives a real perspective about random topics here in Japan. Before moving to Japan, I
            could only imagine Japan being this super kind, and super peaceful country, but as I got to experience
            the culture, I began to realize that Japan has its issues just as any other country does. I want to give
            honest opinions about social issues, and many other topics that could possibly help others understand
            the dynamics of culture in Japan.
        </p>
        <h4>What do I do here?</h4>
        <p>
            As I mentioned before, I am in the Air Force, and actually work as a Jet Engine Mechanic, but I am also
            a college student in his senior year.
        </p>
        <h4>How long have I been studying Japanese?</h4>
        <p>
            Even though, I have been watching Anime for over a decade, I actually never attempted to learn
            Japanese until I arrived here in Japan. I started to learn the basic writing system like Hiragana and
            Katakana
            back in June-July 2018, but I didn't really take my studies seriously until mid 2019. I would say it has
            been about
            1 1/2 years of seriously putting forth the effort day in and day out. I wouldn't say my Japanese is good,
            but
            it is definitely enough to get by and have fun here in Japan. I only plan on bettering my language
            abilities.
        </p>
        <h4>What's Next?</h4>
        <p>
            I actually am getting out of the military soon. I will also be graduating college with my bachelors in
            Computer
            Science pretty soon. I really want to get a programming job out here in Japan. My end goal is to enter
            game development as that has always been an aspiration of mine.
        </p>

    </div>
    {% endblock %}
</body>

</html>