<!DOCTYPE html>
<html>
<!--
    This HTML Page connects links to Images which allows the user to access the resources quickly
    Instead of saving the images locally, it was decided to grab the photos via its URL
-->
<body>
    {% extends "layout.html" %}
    {% block content %}
    <h1>Resources for Japanese</h1>
    <div class="resources">
        <ul class='resource_list'>
            <li>
                <h2>WaniKani</h2>
                <a href="https://www.wanikani.com/" target="_blank">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.BuksDrCt0HrZHxlWzOGrxgHaHa%26pid%3DApi&f=1"
                        alt="WaniKani">
                </a>
                <p>
                    Japanese is comprised of three writing systems. Kanji, which derived from the Chinese Languages, and
                    Hiragana/Katakana
                    which are Japan's very own unique characters. For individuals that are interested in reading
                    Japanese materials like Manga
                    or looking to survive Japan in general. WaniKani is a great starting point as the websites focuses
                    on helping users learn
                    the most commonly used kanji in Japan through SRS learning. I can say for sure that WaniKani has
                    helped developed my ability
                    to recognize Kanji and it has also impressed many of the locals I have encountered.
                </p>
            </li>
            <li>
                <h2>Anki</h2>
                <a href="https://ankiweb.net" target="_blank">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.QXYYqBUzvwj-zipBVO-zMQAAAA%26pid%3DApi&f=1"
                        alt="AnkiWeb">
                </a>
                <p>
                    Anki is japanese for memorization, and this application specializes in just that. Another SRS
                    flashcard system that focuses on consistent
                    studying. For that specific reason, Anki is perfect for creating custom deck flashcards or to search
                    into user shared decks from others.
                    The application will allow individuals to quickly learn vocabulary, which you will need to know a
                    lot of, while being able to digest
                    the language piece by piece.
                </p>
            </li>
            <li>
                <h2>Bunpro</h2>
                <a href="https://www.bunpro.jp/" target="_blank">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.TDCjHRosYJvfEtUh8ibYIgHaHa%26pid%3DApi&f=1"
                        alt="Bunpro">
                </a>
                <p>
                    Bunpro is another SRS similar system that focuses specifically on grammar. Bunpro is actually a play
                    off
                    the japanese word "bunpou" which means grammar. As you can tell, I am a big fan of SRS systems
                    because
                    I believe that they are valuable assets when learning a language. Of course, one cannot learn a
                    language
                    with only SRS, but it definitely allows you to study a lot of information in a short amount of time
                    efficiently!
                </p>
            </li>

        </ul>
    </div>

    {% endblock %}
</body>

</html>